@import './mixins';

.tool-tile {
    border: 1px solid black;
    padding: 1em;
    background: linear-gradient(#eaeaea 0,#fff 50%);
    margin: 1em;
}

.tool-tile:hover {
    border: 2px solid orange;
    cursor: pointer;
}