#module-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: underline;
    color: blue
}

a:hover {
    cursor: pointer;
}