@import '../../assets/css/mixins';

#all-tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

#filter-path {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-left: 2em;
    background-color: lightgrey;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: .5em;

    :hover {
        cursor: pointer;
    }

    .filter-label {
        margin-left: .5em;
    }
}

#tools {
    display: flex;
    flex-direction: column;
    @include small-screen-landscape {
        flex-direction: row;
    }    
    flex-wrap: wrap;
    max-width:  90vw;
}