<div id="home-content">
    <div id="home-filters">
      <div class="tool-tile" (click)="navigateTo('milling')">
        <p>Milling</p>
        <img src="assets/images/milling.png">
      </div>
      <div class="tool-tile" (click)="navigateTo('turning')">
        <p>Turning</p>
        <img src="assets/images/turning.png">
      </div>
      <div class="tool-tile" (click)="navigateTo('hole-making')">
        <p>Hole Making</p>
        <img src="assets/images/hole-making.png">
      </div>
    </div>
</div>