@import '../../assets/css/_mixins.scss';
@import '../../assets/css/tile.scss';

#home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home-filters {
    margin-bottom: 2vh;
    @include small-screen-landscape {
        margin-bottom: 0;
        max-width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
